@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');


.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  /* position: fixed; */
}


.navbar-brand .logo {
  margin-left: 5em;
  margin-top: 0.5em;
  font-family: "Pacifico", sans-serif;
   font-size: 34px;
    font-weight: 700;
    line-height: 40px;

}

.navbar-nav {
    margin-left: 39em;
  display: flex;
  gap: 1em;
  margin-top: 1em;
 
}
.nav-item .nav-link{
  font-family:"Poppins", sans-serif;
   color: #6c6c6c;
  font-size:12px;
  opacity: 1;
 font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.nav-item .nav-link:hover{
  color: black;
}
#navlst{
  color: #ac1313;
}
#svge{
  width: 2em;
  margin-top: -0.25em;
}
#cc{
  border-left: 1px solid rgb(211, 211, 211);
  padding: 1em;
}
#cr{
  list-style: none;
  margin-right: 11em;
  margin-top: 1em;
}

@media (max-width:768px) {
  .navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  /* position: fixed; */
}
.navbar-brand .logo {
  margin-left: 0.5em;
  margin-top: 0.5em;
  font-family: "Pacifico", sans-serif;
   font-size: 34px;
    font-weight: 700;
    line-height: 40px;
}

.navbar-nav {
    margin-left:0.2em;
  display: flex;
  gap: 1em;
  margin-top: 0.5em;
  position:static;
 

 
}
.nav-item .nav-link{
  font-family:"Poppins", sans-serif;
   color: #6c6c6c;
  font-size:12px;
  opacity: 1;
  padding: 1em;
 font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid #6c6c6c;
    text-align: center;

}
#navlst{
  color: #ac1313;
}
#svge{
  width: 1.5em;
  margin-top: -0.25em;
}
#cc{
  border-left: 1px solid rgb(211, 211, 211);
  padding: 1em;
  margin-top: -6em;
  margin-left: 10em;
  font-family:"Poppins", sans-serif;
   color: grey;
  font-size:12px;
  opacity: 1;
 font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
visibility: hidden;
}
#cr{
  list-style: none;
  margin-right: 11em;
  margin-top: 1em;
}

}
.herosection{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.bgr{
  background-image: url(Assests/heroBG.jpeg);
  object-fit: cover;
  background-size:cover;
 height: 100vh;
background-repeat: no-repeat;
background-position: cover;
/* margin-left: 23em; */
}


.caption{
  /* background-color: #ac1313; */
  width: 40vw;
  height: 80vh;
  /* margin-left:2em ; */
}
.heroimg img{
   width: 50vw;
   margin-top:5em;
}
.toptext{
      color:#d77474;
    text-align:center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top :12em;
    margin-bottom: 3em;
    margin-right: 17em;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}
.centertext{
      color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    text-align: center;
    margin-right: 4.75em;
    margin-top: -0.5em;
    animation: moveup 1s forwards;
    opacity: 0;
    animation-delay: 0.5S;
}
@keyframes moveup {
  0%{
    transform: translateY(10%);
    opacity: 0;
  }
  100%{
    transform:translateY(0%);
    opacity: 1;
  }
}
.centertext2{
      color: #000;
    font-family: "poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    text-align: center;
   margin-right: 0.25em;
   animation: moveup 1s forwards;
    opacity: 0;
    animation-delay: .5S;

}
.centertext3{
      color: #000;
    font-family: "poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    text-align: center;
   margin-left: 5.75em;
   animation: moveup 1s forwards;
    opacity: 0;
    animation-delay: .5S;
    margin-top: -1.65em;
    /* display:inline ; */

}
#deco{
 
  color:#ac1313;
      font-family: 'Playfair Display',serif;
    font-size: 68px;
    font-weight: 400;
    line-height: 68px;
    /* position: relative; */
   animation: moveup 1s forwards;
    opacity: 0;
    animation-delay: .5S;

}
.lowertext{
      color:#6c6c6c;
    text-align: left;
    margin-bottom: 10px;
    font-family: "Libre Franklin", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-left: 6.75em;
    font-weight: 500;
    animation: up 1s forwards;
    opacity: 0;
    animation-delay: .6S;
      /* max-width: 60vw;  */
      display: block;
        max-width: 100%;
         line-height: 1.5;
  padding: 0 0.25em;
        white-space: normal;
}
@keyframes up {
  0%{
    transform: translateY(10%);
    opacity: 0;
  }
  100%{
    transform:translateY(0%);
    opacity: 1;
  }
}
.herobtn{
      background-color:#ac1313;
    color: #fff;
    border-style: none;
    border-color: #000;
    border-radius: 0;
    margin-right: 0;
    padding: 20px 35px;
    font-family: "Poppins", sans-serif;
    line-height: 22px;
    margin-left: 9.5em;
    margin-top: 2em;
    font-size: 12px;
    letter-spacing: 1px;
     animation: moveup 1s forwards;
    opacity: 0;
    animation-delay: .5S;
      will-change: transform;

}
.herobtn:hover{
  background-color: #000000;

}
@media (max-width:768px){
  
.herosection{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.bgr{
  background-image: url(Assests/heroBG.jpeg);
  object-fit: cover;
  background-size:cover;
 height: 100vh;
background-repeat: no-repeat;
background-position: cover;
/* margin-left: 23em; */
}


.caption{
  /* background-color: #ac1313; */
  width: 40vw;
  height: 80vh;
  /* margin-left:2em ; */
}
.heroimg img{
   width: 100vw;
   margin-top:-6em;
}
.toptext{
      color:#d77474;
    text-align:center;
    letter-spacing: 2px;
    margin-top :2em;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
     white-space: nowrap; 
     margin-left:7.5em ;
    /* display:inline-block; */
   
    
}
.centertext{
      color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    margin-left: 3.25em;
    margin-top: -1.5em;
    animation: moveup 1s forwards;
    opacity: 0;
    animation-delay: 0.5S;
    letter-spacing: 1.5px;
}
@keyframes moveup {
  0%{
    transform: translateY(10%);
    opacity: 0;
  }
  100%{
    transform:translateY(0%);
    opacity: 1;
  }
}
.centertext2{
      color: #000;
    font-family: "poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 58px;
    text-align: center;
   margin-left: 1em;
   animation: moveup 1s forwards;
   margin-top: -0.5em;
    opacity: 0;
    animation-delay: .5S;
    letter-spacing: 1.5px;
    white-space: nowrap;

}
.centertext3{
      color: #000;
    font-family: "poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 58px;
    text-align: center;
   margin-left:2em;
   animation: moveup 1s forwards;
    opacity: 0;
    animation-delay: .5S;
    margin-top: -1em;
    /* display:inline ; */
    white-space: nowrap;
    letter-spacing: 1.5px;


}
#deco{
 
  color:#ac1313;
      font-family: 'Playfair Display',serif;
    font-size: 52px;
    font-weight: 400;
    line-height: 68px;
    position: relative;
   animation: moveup 1s forwards;
    opacity: 0;
    animation-delay: .5S; 
    margin-left: em;
   /* margin-top: -3rem; */

              white-space:nowrap ;                                                         

}

.lowertext{
      color:#6c6c6c;
    /* text-align: center; */
    /* margin-bottom: 10px; */
    font-family: "Libre Franklin", sans-serif;
    font-size: 15px;
   min-width: 300px;
    font-weight: 500;
    animation: up 1s forwards;
    opacity: 0;
    animation-delay: .6S;
    margin-left: 3.5em;
   
}
@keyframes up {
  0%{
    transform: translateY(10%);
    opacity: 0;
  }
  100%{
    transform:translateY(0%);
    opacity: 1;
  }
}
.herobtn{
      background-color:#ac1313;
    color: #fff;
    border-style: none;
    border-color: #000;
    border-radius: 0;
    margin-right: 0;
    padding: 20px 45px;
    font-family: "Poppins", sans-serif;
    line-height: 22px;
    margin-left: 6em;
    margin-top: 3em;
    font-size: 12px;
    letter-spacing: 1px;
     animation: moveup 1s forwards;
    opacity: 0;
    animation-delay: .5S;
      will-change: transform;
      white-space: nowrap;

}
.herobtn:hover{
  background-color: #000000;

}

}